{# templates/user/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}
    <h1>Użytkownicy</h1>

    <a href="{{ path('user_edit', {'id': 1}) }}" class="btn btn-primary mb-3">Dodaj nowego użytkownika</a>  {# Przykład przycisku do dodania użytkownika #}

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Rola</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ user.isBlocked ? 'Zablokowany' : 'Aktywny' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Edytuj</a>
                    <form action="{{ path('user_delete', {'id': user.id}) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
