{% extends 'base.html.twig' %}

{% block title %}Nowa Notatka{% endblock %}

{% block body %}
    <h1>Dodaj nową notatkę</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.newCategory) }}
    {{ form_row(form.tags) }}


    {{ form_end(form) }}

    <a href="{{ path('note_index') }}">Wróć do listy notatek</a>


{% endblock %}
